{% extends 'layout.twig' %}

{% block body %}
<section class="highlight">
    <p><a href="https://www.algolia.com" target="_blank">Algolia</a> is a hosted search engine that can provide realtime search into your website for your users.<p>
    <p>It provides environments linked to your applications and have these features availables. But it can be painfull to manage multiple environments.</p>
</section>
<section class="highlight">
    <p>Algolia Extended give you the possible to manage your multiple environment for your applications.<p>
    <p>With this website, you can for example do these operations :<p>
    <ul>
        <li>Full copy an environment (settings, datas, etc...) into a cleaned environment.</li>
        <li>Duplicate partially an environment to a new one.</li>
        <li>Full or partially clean an environment.</li>
    </ul>
</section>
<section class="highlight">
    <p>Algolia Extended doesn't intend to replace Algolia native dashboard, just to give you more possibilities.<p>
    <p>Algolia Extended isn't affiliate with Algolia. Use it at your own risk, but be aware that no datas or api keys are collected !<p>
</section>
{% endblock %}
