<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Algolia Extended</title>
        <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
        <link rel='stylesheet' href='/stylesheets/style.css' />

        <meta charset="utf-8">
        <meta name="description" content="Algolia Extended give you the power to manage multiple environments from algolia.com hosted search engine. It allows you to copy an environment into an other one and to clear an environment." />
        <meta name="keywords" content="algolia, extended, functionnalities, functionnality, extend, algolia.com, search, engine, search engine, realtime, api, key, managment, environment, export, import, backup" />
        <meta name="author" content="Mathieu Dufour" />
        <meta name="copyright" content="algoliaextended © 2017" />
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    </head>
    <body>
        <div class="header">
            <div class="header-content">
                <span class="header-logo">

                </span>
                <h1>Algolia Extended</h1>
            </div>
            <div class="header-content">
                <h3>Use awesome functionnalities for your multiple environment algolia</h3>
            </div>
            <div class="header-content">
                <h5><a href="#">See it on github</a></h5>
            </div>
        </div>
        <nav id="navigation">
            <div class="nav-element">
                <a href="/">Home</a>
            </div>
            <div class="nav-element">
                <a href="/copy">Copy</a>
            </div>
            <div class="nav-element">
                <a href="/clear">Clear</a>
            </div>
            <div class="nav-element">
                <a href="/export">Export</a>
            </div>
            <div class="nav-element">
                <a href="/import">Import</a>
            </div>
        </nav>
        <div id="container">
            {% block alert %}{% endblock %}
            {% block body %}{% endblock %}
        </div>

        <script type="text/javascript" src="/javascripts/jquery-2.2.1.min.js"></script>

        {% block js %}{% endblock %}

    </body>
</html>
