<!DOCTYPE html>
<html>
    <head>
        <title>Algolia Extended</title>
        <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
        <div class="header">
            <div class="header-content">
                <span class="header-logo">

                </span>
                <h1>Algolia Extended</h1>
            </div>
            <div class="header-content">
                <h3>Use awesome functionnalities for your multiple environment algolia</h3>
            </div>
        </div>
        <nav id="navigation">
            <div class="nav-element">
                <a href="/">Home</a>
            </div>
            <div class="nav-element">
                <a href="/copy">Copy</a>
            </div>
            <div class="nav-element">
                <a href="/clear">Clear</a>
            </div>
            <!-- <div class="nav-element">
                <a href="/clear">Export</a>
            </div> -->
        </nav>
        <div id="container">
            {% block alert %}{% endblock %}
            {% block body %}{% endblock %}
        </div>

        <script type="text/javascript" src="/javascripts/jquery-2.2.1.min.js"></script>
        {% block js %}{% endblock %}
    </body>
</html>
